body {
    margin: 0;
    background: #111;
    font-family: sans-serif;
}

form {
    background-color: #111;
    padding: 20px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 25px #eee7;
}

input, textarea, select {
    width: 95%;
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: 2px;
    padding: 6px 8px;
    background-color: #111;
    color: #eee;
    margin: 6px 0;
}

fieldset {
    border-radius: 6px solid #666;
    margin: 10px;
}

legend {
    margin: 0px 5px;
    color: #eee;
}